<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= link_to user.email, user %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>