<div class="panel panel-info">
	<div class="panel-heading">
		<h1 class="panel-heading">Editing Title</h1>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>

<div class="pull-right">
	<%= link_to 'Show', @title %> |
	<%= link_to 'Delete', @title, method: :delete, data: { confirm: 'Are you sure?' } %> | 
	<%= link_to 'Back', "javascript:history.back()" %>
</div>
