<div class="panel panel-info">
	<div class="panel-heading">
		<h1 class="panel-heading">New Title</h1>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>

<div class="pull-right">
	<%= link_to 'Back', "javascript:history.back()" %>
</div>
